<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vritti.yard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sta_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sta_logo"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="landscape"
            android:name=".SelectStationActivity"
            android:label="Yard"
            android:logo="@drawable/sta_logo"
            android:allowEmbedded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="Yard"
            android:allowEmbedded="true"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>